.modaloverlay
{
    justify-content: center;
    display: flex;
    background-color: rgba(0,0, 0, 0.6);
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;   

}